$mobile: 320px;
$tablet: 768px;


// @mixin device ($min, $max) {

//   @media (min-width: $min) and (max-width: $max) {
//     @content;

//   }
// }


@mixin mobile ($min, $max) {

  @media (min-width: $min) and (max-width: $max) {
    @content;

  }
}



//mobile

@include mobile ($mobile, $tablet) {
  .work_container{
    // display: flex;
    // width: 100%;
    // border: 1px solid var(--main_color);
    // box-sizing: border-box;
  
    .work_wrapper{
      width: 100%;
      padding: 15px;
      flex-wrap: wrap;

      &.box_act{

        .work_info_wrap{
          width: 100%;
  
          .info_description{
            margin: 30px 0;
            font-size: 12px;
          }
  
          .info_btn{
            width: 100%;
            min-width:auto;
            max-width: 100%;
            margin-bottom: 30px;
            padding: 12px 0;
            text-align: center;
            border: 1px solid var(--main_color);
          }
        }
        
        .work_sub_wrap{
          display: none;
        }
  
        .work_img_wrap{
          width: 100%;
          max-width: 100%;
          max-height: 300px;
          overflow-y: auto;
          transition: all 1000ms;
  
          img{
            width: 100%;
          }
        }
        
      }

      // &:hover{
      //   background-color: var(--main_color);
  
      //   .work_info_wrap{
  
      //     .info_num,
      //     .info_title,
      //     .info_project,
      //     .info_cate,
      //     .sub_cate{
      //       color: var(--bg_color);
      //     }
  
      //     .info_num{
      //       &::after{
      //         background-color: var(--bg_color);
      //       }
      //     }
      //   }
  
      //   .work_sub_wrap{
      //     .sub_cate_wrap{
      //       .sub_cate{
      //         color: var(--bg_color);
      //       }
      //     }
          
      //     .sub_icon_wrap{
      //       .plus_row,
      //       .plus_column{
      //         background-color: var(--bg_color);
      //       }
      //     }
      //   }
  
  
      // }
    
      .work_info_wrap{
        width: 90%;
    
        .info_num{
          font-size: 13px;
    
          &::after{
            margin-bottom: 10px;
          }
        }
    
        .info_title{
          font-size: 40px;
          letter-spacing: 0.5px;
        }
    
        .info_project{
          margin: 10px 0 30px;
          font-size: 14px;
        }
    
        .info_cate{
          font-size: 12px;
          letter-spacing: 0.4px;
        }
      }
    
      .work_sub_wrap{
        width: auto;
    
        .sub_cate_wrap{
          width: 100%;
          height: 10vw;
          margin-top: 6px;
    
          .sub_cate{
            width: 100%;
            position: absolute;
            font-size: 10px;
            color: var(--main_color);
            font-family: 'Comfortaa', cursive;
            text-transform: uppercase;
            transform-origin: 100% 0;
            transform: translateY(100%) rotate(90deg);
            white-space: nowrap;
          }
        }
    
    
        .sub_icon_wrap{
          width: 17px;
          height: 17px;
    
          .plus_row{
            width: 17px;
          }
    
          .plus_column{
            width: 17px;
          }
        }
    
      }
    }
  }
  
  

  .empty_wrapper{
    display: none;
  }
}