.pop_container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 1;
  transition: all 700ms;

  &.act_pop{
    left: 0%;
  }

  &::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../public/img/green_bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  .pop_wrapper{
    width: 90vw;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    background-color: var(--bg_color);

    .pop_title_area{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 25px 7%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--bg_color);
      border-bottom: 2px solid var(--main_color);
      // background-color: yellowgreen;

      .pop_title{
        font-size: 2vw;
        color: var(--main_color);
      }

      .close_btn{
        width: 20px;
      }
    }

    .pop_info_area{
      width: 100%;
      height: calc(100vh - (50px + 2vw));
      margin-top: calc(55px + 2vw);

      .pop_info_img{
        width: 100%;
        max-height: 300px;
        overflow-y: auto;

        img{
          width: 100%;
        }
      }

      .pop_info_txt_box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 80px 7%;
        // background-color: red;

        .pop_info_main{
          width: 56%;
          max-width: 800px;
          // background-color: antiquewhite;

          .info_title{
            margin-bottom: 30px;
            font-size: 5.5vw;
            color: var(--main_color);
          }

          .info_content{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 1rem;
          }
        }

        .pop_info_sub{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 30%;
          // background-color: orange;

          p{
            font-size: 1rem;
            color: var(--main_color);
          }

          .info_team{
            font-family: 'Comfortaa', cursive;
            text-transform: uppercase;
          }
          
          .info_btn{
            width: 100%;
            text-align: center;
            border: 1px solid var(--main_color);

            a{
              display: block;
              width: 100%;
              padding: 15px 0;
              font-size: 22px
            }
          }

        }
      }

    }


  }
}


@import './_Popup.module.scss';