.profile_wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--main_color);

  .profile_img{
    width: 19.270vw;
    height: 19.270vw;
    border-radius: 50%;
    overflow: hidden;
    background-color: #F7C0D1;

    img{
      width: 100%;
    }
  }

  .profile_txt{
    width: calc(100% - 19.270vw);
    padding-left: 3.6458vw;
    font-size: var(--30px);
  }
}


.resume_wrapper{
  display: flex;
  width: 100%;

  .resume_part01{
    width: 40%;
    padding-right: var(--50px);
    border-right: 1px solid var(--main_color);

    .contact_me{
      width: 100%;
      border-bottom: 1px solid var(--main_color);

      .contact_content{
        display: flex;
        width: 100%;
        margin-bottom: 40px;

        &:last-child{
          margin-bottom: 0;
        }
        
        .cont_type{
          width: 40%;
          font-size: var(--30px);
        }

        .cont_value{
          width: 60%;
          font-size: var(--25px);
          font-weight: 700;
          color: var(--main_color);
        }
      }
      
    }


    .education{
      width: 100%;

      .edu_con_wrap{
        width: 100%;
        margin-bottom: 50px;

        &:last-child{
          margin-bottom: 0;
        }

        .edu_con_title{
          font-size: var(--30px);
          font-weight: 700;
        }

        .edu_con_sub_title{
          margin: 15px 0;
          font-size: var(--25px);
          color: var(--sub_color);
        }

        .edu_con_period{
          font-size: var(--20px);
          color: var(--sub_color);
        }
      }


    }
  }

  .resume_part02{
    width: 60%;
    padding-left: var(--50px);

    .skills{
      width: 100%;
      border-bottom: 1px solid var(--main_color);

      .skill_common_cont{
        width: 100%;

        > .resume_sub_title{
          margin-bottom: 30px;
        }

        .skill_icon_wrap{
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          width: 100%;
          //padding-right: 30%;

          .skill_icon{
            width: 4.166vw;
            margin-right: 5%;

            .skill_circle{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 4.166vw;
              height:  4.166vw;
              border-radius: 50%;

              >span{
                font-size: var(--30px);
                color: #F1F1E6;
              }
            }

            .skill_txt{
              margin-top: 15px;
              font-size: var(--15px);
              text-align: center;
            }
          }
         
        }
      }

      .frontend{
        margin-bottom: 50px;
      }

      .deploy{
        display: inline-block;
        width: 50%;
      }

      .tool{
        display: inline-block;
        width: 50%;
      }

    }

    .work_ex{
      width: 100%;

      .resume_period{
        margin: 15px 0 30px 0;
        font-size: var(--20px);
        color: var(--sub_color);
      }

      .resume_txt{
        font-size: var(--20px);
      }
    }


  }

}






// 공통 클래스

.resume_title{
  font-size: var(--50px);
  color: var(--main_color);
  font-weight: 700;
  border-bottom: 1px solid var(--main_color);
}

.resume_sub_title{
  font-size: var(--30px);
  font-weight: 700;
}


.resume_title_common{
  padding: 50px 0;
  text-align: center;
}

.resume_content_common{
  width: 100%;
  padding: 80px 4.166vw;
}




// circle bg_color


.frontend{

  .skill_icon{
    margin-bottom: 20px;

    &:nth-child(1){
      .skill_circle{
        background-color: var(--main_color);
      }
    }
  
    &:nth-child(2){
      .skill_circle{
        background-color: var(--sub_color);
      }
    }
  
    &:nth-child(3){
      .skill_circle{
        background-color: #429D75;
      }
    }
  
    &:nth-child(4){
      .skill_circle{
        background-color: #4FAF6F;
      }
    }
  
    &:nth-child(5){
      .skill_circle{
        background-color: #74BE76;
      }
    }
  
    &:nth-child(6){
      .skill_circle{
        background-color: #B1DD72;
      }
    }
  
    &:nth-child(7){
      .skill_circle{
        background-color: #2B8C7F;
      }
    }
  
    &:nth-child(8){
      .skill_circle{
        background-color: #42B2A3;
      }
    }
  
  }

}

.deploy{

  .skill_icon{

    &:nth-child(1){
      .skill_circle{
        background-color: #1E884B;
      }
    }

    &:nth-child(2){
      .skill_circle{
        background-color: #32B56A;
      }
    }

    &:nth-child(3){
      .skill_circle{
        background-color: #4ED989;
      }
    }
  }
}

.tool{

  .skill_icon{

    &:nth-child(1){
      .skill_circle{
        background-color: #13757B;
      }
    }

    &:nth-child(2){
      .skill_circle{
        background-color: #37A3AA;
      }
    }

  }
}



@import "./_Profile.module";

